/* You can add global styles to this file, and also import other style files */

@import '@angular/material/theming';
@include mat-core();
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

html, body {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  margin: 0;
  font-family: 'Oswald', 'sans-serif';
}

